body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.icons.la {
  color: #fff;
  font-size: x-large;
  margin: 0;
}
i.la {
    font-size: xx-large;
}

.blue {
  background-color: #65cafc;
}
.violet {
  background-color: #e986fc;
}
.pink {
  background-color: #fc7ea4;
}
.blue1 {
  background-color: #92a6fc;
}
.yellow {
  background-color: #fadc6e;
}
.l-style {
  background-color: #73e6e6;
}
.reddy {
  background-color: #fc7eca;
}
.green {
  background-color: #6ae29c;
}
.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.m-r {
  margin-right: 10px;
}
.bold {
  font-weight: 600;
}
.page-width {
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}

/* header */

.header {
  position: relative;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #40c9a2;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  margin-right: 0;
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.search-container {
  margin: 15px auto;
  width: 25%;
  overflow: hidden;
}
.search-inner {
  width: 100%;
}

.search-form {
  width: 100%;
  position: relative;
}
svg {
  position: absolute;
  left: 15px;
  top: 9px;
  bottom: 7px;
  color: #fff;
  stroke-width: 4px;
}
.header-svg {
  z-index: 100;
}
input.search-input {
  width: 100%;
  border-radius: 20px;
  padding: 7px 15px 7px 60px;
  border: none;
  background-color: #40c9a2;
}
input.search-input-inner {
  width: 100%;
  border-radius: 20px;
  padding: 7px 15px 7px 60px;
  border: none;
  background-color: #fff;
  color: #999;
}
svg.search-green {
  color: #40c9a2;
  position: absolute;
  left: 15px;
  top: 9px;
  bottom: 7px;
  z-index: 100;
  stroke-width: 4px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}
input[type="search"]::-moz-placeholder {
  color: #fff;
}
.header-mail {
  width: 25%;
  text-align: end;
}


/* menu-header */
.header-menu {
  /*padding: 10px 20px 1px 20px; */
  background-color: #fff;
  position: relative;
  top: 70px;
  z-index: 10;
  height: auto;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0px 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.menu-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  z-index: 1;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-left: -20px;
}
.menu-item {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  margin: 0px 20px;
}
.menu-item:first-child {
  margin-left: 0px;
}
.menu-link {
  position: relative;
/*  color: #c2c4ca;*/
  color: rgba(0,0,0,.6);
  font-size: 12px;
  font-family: 'Montserrat Regular', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.active a.menu-link {
  color: #6d6e71;
  font-weight: 600;
}
.active {
  position: relative;
}
.menu-link.active:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #13dba7;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom: 3px solid rgb(64, 201, 162);
  transition: border-bottom 0.25s ease 0s;
}
.menu-text {
  margin: 5px 0;
}
.count {
  background-color: #f7f6f6;
  color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* main */

main {
  position: relative;
  top: 70px;
  padding-bottom: 20px;
}

/* services */

.services {
  padding: 0px 20px;
}
.services-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 16px 20px 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.services-link {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: start;
  justify-content: space-around;
  border: 2px solid transparent;
  padding: 2px;
  margin: -4px 18px -4px -4px;
}
.service-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 111px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 16px;
}

/* tabs */
.services-tabs {
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.tabs-link {
  color: #999;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.tabs-link.active {
  color: #2e3b4f;
}
.tabs-link.active:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  background-color: #13dba7;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom: 3px solid rgb(64, 201, 162);
  transition: border-bottom 0.25s ease 0s;
}
.tabs-link:first-child {
  padding-right: 10px;
  border-right: 1px solid #e6e6e6;
}
.tabs-link-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #40c9a2;
  padding: 0px 10px;
  border-radius: 50px;
  transition: background-color 0.2s ease 0s;
  border: 1px solid #e6e6e6;
}

/* questions */
.questions {
  padding: 0 20px;
  margin: 20px auto;
}
.q-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-radius: 15px;
}
.q-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: rgb(153, 153, 153);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: default;
  padding: 15px;
}
.title-avatar,
.avatars {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 128, 178);
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 30px;
  overflow: hidden;
  margin-right: 10px;
}
.title-img {
  width: 35px;
  height: 35px;
}
.title-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.title-name a {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(0, 0, 0);
}
.title-span {
  font-size: 13px;
  font-weight: normal;
  line-height: 16px;
  letter-spacing: normal;
  color: rgb(153, 153, 153);
  direction: ltr;
}
.font-span {
  font-size: 11px;
}
.q-body {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  border-radius: 0px;
}
.body-text {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
  padding: 0px 15px;
  margin: 10px 0;
  text-align: justify;
}
.body-text__heading {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
}
.question-btn {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.question-btn a {
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: rgb(73, 204, 204);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 11px;
  line-height: 10px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  padding: 0px 8px;
  transition: background-color 0.25s ease 0s;
}
.text {
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(77, 77, 77);
}
.body-button {
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: rgb(247, 249, 250);
  padding: 0px 15px;
}
.btn-answer {
  height: 40px;
  box-shadow: none;
  min-width: 120px;
  padding: 0px 12px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 14px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  cursor: pointer;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  border-radius: 70px;
  transition: background-color 0.2s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  font-weight: 600;
}
.q-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 12px;
  padding: 0px 15px;
  border-radius: 15px;
}
.left {
  display: flex;
}
.q-responsed,
.q-share,
.q-comments {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 15px;
  color: rgb(77, 77, 77);
  font-size: 12px;
  line-height: 12px;
  transition: color 0.25s ease 0s;
}
.q-responsed span,
.q-share span {
  font-size: 12px;
  font-weight: normal;
  line-height: 15px;
  color: rgb(77, 77, 77);
  margin-left: 4px;
}
.comments-text {
  font-size: 12px;
  line-height: 15px;
  color: rgb(77, 77, 77);
  margin-left: 4px;
}
.btn-answer span {
  margin-left: 4px;
}

/* share */
.body-img img {
  height: 200px;
  width: 100%;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,.6);
}

.share-block {
  display: inline-flex;
  flex-direction: column;
  padding: 0px 15px;
}
.lists-heading {
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
.share-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 10px 0px;
  justify-content: space-between;
}

.red {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  letter-spacing: normal;
  color: rgb(246, 16, 85);
}

.share-avatars {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(247, 249, 250);
  align-items: center;
}
.ava-text {
  font-size: 13px;
  line-height: 18px;
  color: rgb(153, 153, 153);
}

.avatars {
  width: 100%;
  max-width: 75px;
  background-color: rgb(247, 249, 250);
}
.avatars .title-img {
  border-radius: 50%;
}


/* list */
.title-img-lg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: 7px;
  margin-bottom: 5px;
}
.title-img-lg img {
  width: 100%;
  height: 100%;
}
.title-bottom {
  position: relative;
  width: 100%;
  display: flex;
  margin-top: 4px;
  align-items: center;
}
.list-red {
  font-size: 14px;
  line-height: calc(100% + 10px);
  color: rgb(246, 16, 85);
}
.posts-footer {
  background-color: rgb(247, 249, 250);
  border-radius: 0 0 15px 15px;
}
.posts-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 16px 20px 1px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.post-item .q-body,
.posts-footer .left .avatars {
  display: none;
}
.post-item .q-title {
  flex-direction: column;
}
.post-item {
 min-width: 220px;
    max-width: 220px; 
    margin-right: 15px;
}

/* video */
.q-video {
  max-height: 195px;
}
.video-cont {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  max-height: 195px;
}
.video-content {
  height: 100%;
  width: 100%;
  max-height: 195px;
}
.thanks {
  width: auto;
  height: 20px;
  margin-right: 8px;
}
.block-thanks {
 background-color: rgb(247, 249, 250);
 border-radius: 0;
}

.title-events a {
  font-size: 18px;
  line-height: 26px;
}
.events-bottom {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.evnt {
  display: flex;
  align-items: center;
  height: 25px;
}
.evnt i.la {
  font-size: large;
  margin-right: 5px;
}
.event-buttons {
  display: flex;
}
.btn-event {
  border-radius: 8px;
  padding: 20px;
  margin-right: 5px;
  color: #fff;
  display: flex;
    justify-content: space-evenly;
}
.btn-red {
  background-color: #cb544a;
}
.btn-green {
  background-color: #73e6e6;
}

@media (max-width: 576px) {
  .event-mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .event-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .btn-event {
    margin-bottom: 10px;
  }
  .title-img-lg {
    width: 170px;
    height: 170px;
  }
}

.profile {
  position: relative;
  top: 0px;
  padding-top: 10px;
  border-bottom: none;
  background: rgb(247, 249, 250);
  background: url(../img/bg1.png) center center/cover no-repeat;
  border-radius: 15px;

}
.profile-marg {
  margin-top: 20px;}
.profile-card {
  padding: 10px 5px;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/bg1.png) center center/cover no-repeat;
}
.profile-content {
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  background: rgb(255, 255, 255);
  border-radius: 15px;
  background: url(../img/bg1.png) center center/cover no-repeat;
}
.profile-photo {
  position: relative;
  width: 150px;
  height: 150px;
  transform: translate3d(0px, 0px, 0px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  box-sizing: border-box;
  transition: width 1s ease 0s, height 1s ease 0s;
  border-radius: 50%;
  background: rgb(230, 230, 230);
  border-width: 3px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  margin: 0 auto;
  top: -25px;
  margin-top: 20px;
}
.profile-photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-text {
  text-align: center;
  margin-top: 10px;
  padding: 0 15px;
}
.profile-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.profile-link {
  color: #199fff;
}
.profile-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-desc {
  margin: 10px auto;
  font-size: 16px;
  color: rgb(77, 77, 77);
}
.btn-profile {
    margin: 10px;
    height: 40px;
}
.btn-profile span {
  font-size: 12px;
  margin-left: 0;
}


/* footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 -10px 50px 0 rgba(0,0,0,0.05);
  padding: 20px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #cfd2d8;
}
/*
.footer-content:before {
  content: "";
  width: 100%;
  height: 20px;
  border-top: solid green 15px;
  border-radius: 0 35px 45px 0;
  position: absolute;
}*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.footer-link {
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
    color: #98a8b4;
}

.footer-link.active {
   color: #40c9a2;
}
.notif {
  position: absolute;
  right: -17px;
  top: -13px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  z-index: 100;
  background-color: rgb(246, 16, 85);
  font-weight: 600;
  border: 1px solid #fff;
  width: 22px;
  height: 22px;
}
.notif-footer {
  right: -5px;
  top: -4px;
}
.plus {
  height: 50px;
  width: 50px;
  border: 1px solid #40c9a2;
  background-color: #40c9a2;
  border-radius: 100% 0 100% 100%;
  transform: rotate(135deg);
}
.plus-bg {
  background: url(../img/img7.jpg) center center/cover no-repeat;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
      top: -25px;
    left: -15px;
}
.circle {
  height: 50px;
  width: 50px;
  position: relative;
  border-radius: 50%;
}
.svg {
  position: absolute;
  top: 80px;
  width: 47px;
  height: 50px;
}
#pattern {
  transform: rotate(180deg);
}
.tirs {
 transform: rotate(180deg);
    position: absolute;
    top: -17px;
    left: 0;
}


/* inner page1 */
.inner {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 20px 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.invite {
  padding: 15px;
  background-color: #2e3a40;
  color: #fff;
  border-radius: 0;
}
.invite-block {
  margin: 10px auto;
}
.invite-header {
  display: flex;
  justify-content: space-evenly;
}
.invite-img {
  position: relative;
}
.invite-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.invite-title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.invite-body,
.invite-bottom {
  text-align: center;
}
.invite-bottom {
  margin: 25px;
}
.invite-btn {
  background-color: #f8485d;
  padding: 20px 30px;
  border-radius: 50px;
}
.notif-invite {
  width: 30px;
  height: 20px;
  background-color: #fff;
  color: #999;
  position: absolute;
  right: -20px;
  top: 0px;
  border-radius: 23px 20px 20px 0px;
}
.center-img {
  top: -15px;
}

/* request */
.request {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  transition: max-height 1s ease-in-out 0s;
}
.heading {
  padding: 10px 0px;
  position: relative;
}
.heading h1 {
  padding: 0px 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgb(77, 77, 77);
  font-weight: bold;
  margin: 0px;
}
.notif-request {
  left: 200px;
  top: 14px;
  z-index: 0 !important;
}
.request-list {
  display: flex;
  padding: 0px 15px;
  overflow-x: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 15px;
  min-height: 260px;
  width: 100%;
}
.request-item {
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
}
.request-link img {
  display: block;
  width: 180px;
  height: 216px;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}
.request-desc {
  position: absolute;
  left: 10px;
  bottom: 20%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.item-title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.item-text {
  font-size: 13px;
  line-height: 17px;
}
.request-approving {
  display: flex;
  margin-top: 10px;
  padding: 0px 10px;
}
.no,
.yes,
.chat-special {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  height: 36px;
  cursor: pointer;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  border-radius: 70px;
  transition: background-color 0.2s ease 0s;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 6px;
  text-align: center;
  flex: 1 1 0%;
}
.no svg {
  display: inline-flex;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: rgb(248, 72, 93);
  margin: 0px;
}
.yes svg {
  display: inline-flex;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: rgb(64, 201, 162);
  margin: 0px;
}
.center-svg {
  position: absolute;
  left: 40%;
  right: 40%;
}

/* discover */
.discover {
  padding: 15px 0;
}
.discover-body {
  padding: 15px;
  min-height: 260px;
  width: 100%;
  background: rgb(247, 249, 250);
}
.discover-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.discover-item {
  width: 100%;
  margin: 0px 0px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-radius: 15px;
  padding: 15px;
}
@media (min-width: 576px) {
  .discover-item {
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.discover-link {
  width: 100px;
  height: 120px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.4s ease 0s;
}
.discover-link img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.discover-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.discover-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
}
.discover-district {
  font-size: 13px;
  line-height: 15px;
  color: rgb(246, 16, 85);
  margin-bottom: 4px;
}
.discover-time {
  font-size: 13px;
  line-height: 15px;
  color: rgb(153, 153, 153);
  margin-bottom: 8px;
}
.discover-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dotted rgba(153,153,153,.5);
  padding-top: 8px;
}
.discover-friend {
  color: rgb(153, 153, 153);
  font-size: 13px;
  line-height: 17px;
}
.add button {
  font-size: 15px;
}
/*
.footer-content:before {
  position: absolute;
  display: block;
  content: "";
  height: 120px;
  width: 100px;
  border-top: 2px solid #cfd2d8;
  border-radius: 50px 50px 0 50px;
  top: -15px;
  left: 39%;
  background-color: #fff;
} */

/*
.footer-content:after {
  display: block;
  content: "";
  height: 30px;
  width: 100%;
  border-top: 2px solid red;
  border-radius: 20px 0 0 0;
}*/
.footer-content {
  position: relative;
}
/*
.bg-footer {
  position: absolute;
  top: 10px;
  background: #fff;
}*/





/* category page */
.category-page-header {
  height: 200px;
  color: #fff;
  padding: 26px;
  position: relative;
}
.category-page-header a {
  font-size: 28px;
  font-weight: bold;
}
.category-header {
  text-align: center;
  margin-top: 10px;
}
.svg-category {
  height: 50%;
  position: absolute;
  left: 39%;
  top: 25%;
  color: rgba(255,255,255,.3);
}
.svg-category2 {
  height: 50%;
  position: absolute;
  left: 51%;
  top: 25%;
  color: rgba(255,255,255,.3);
}
.category-tabs-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid rgb(230, 230, 230);
}
.tabs-item:first-child {
  border-right: 1px solid rgb(230, 230, 230);
}
.tabs-item {
  width: 100%;
  color: #999;
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  text-align: center;
  margin: 15px 0;
}
.tabs-item.active {
  color: #2e3b4f;
  position: relative;
}
.tabs-item.active:after {
  content: "";
  border-bottom: 2px solid #e986fc;
  position: absolute;
  bottom: -17px;
  left: 0;
  width: 100%;
}
.category-tabs-buttons {
  padding: 20px 17px;
}
.category-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 14px;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 7px 12px;
  transition: background-color 0.4s ease 0s;
  border: 1px solid rgb(230, 230, 230);
  color: rgb(77, 77, 77);
}
.category-btn.active {
  background-color: rgb(233, 134, 252);
  color: #fff;
}
.category-post {
  background-color: rgb(247, 249, 250);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.category-post-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-radius: 15px;
  position: relative;
}
.post-item-header {
  display: flex;
  padding: 15px;
}
.post-header-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  margin-right: 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
}
.post-header-img img {
  width: 110px;
  height: 110px;
  border-radius: 15px;
}
.post-header-content {
  display: flex;
  flex-direction: column;
}
.post-header-title {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  color: #000;
}
.post-header-cont {
  width: 100%;
  display: flex;
  margin-top: 4px;
  align-items: center;
  position: relative;
}
@media (max-width: 500px) {
  .post-item-header {
    flex-direction: column;
    align-items: baseline;
  }
  .post-header-content {
    margin-top: 15px;
  }
  .post-header-title.title-triangle {
    width: 100%;
  }
}
.svg-list {
  position: absolute;
  width: 20px;
  color: red;
  top: 3px;
  left: 0px;
  height: 1em;
  vertical-align: -0.125em;
  margin-right: 6px;
}
.list-red {
  display: flex;
  align-items: baseline;
  width: 45px;
  justify-content: flex-end;
  align-items: center;
  height: 18px;
  font-size: 13px;
}
.post-header-cont.title-span {
  font-size: 13px;
}
.before:before {
  content: "·";
  margin: 0px 4px;
}
.triangle {
  width: 0;
  height: 0;
  border: 60px solid transparent;
  border-top: 60px solid rgb(233, 134, 252);
  border-right: 60px solid rgb(233, 134, 252);
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 500px) {
  .title-triangle {
    width: 50%;
  }
}
.price {
  color: #fff;
  transform: rotate(45deg);
  position: absolute;
  top: -40px;
  right: -50px;
  font-weight: 700;
  font-size: 20px;
}
.post-item-body {
  word-break: break-word;
  overflow: hidden;
  max-height: 78px;
  transition: max-height 0.25s ease 0s;
  padding: 0 15px;
  margin: 15px 0;
  text-align: justify;
  border-top: 1px dotted rgba(153,153,153,.5);
}
.post-item-footer {
  background-color: rgb(247, 249, 250);
  border-radius: 0 0 15px 15px;
}
.title-span {
  margin-bottom: 10px;
}


/* chat */
.article-page {
  background-color: rgba(247, 249, 250,.3);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.article {
  width: 100%;
  box-shadow: rgb(230, 230, 230) 0px 5px 20px 0px;
  margin-bottom: 20px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}
.article-item {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
}
.article-top {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
}
.arrow-back {
  position: relative;
}
.article-arrow {
  position: absolute;
  width: 20px;
  color: rgb(179, 179, 179);
  height: auto;
  top: -10px;
  left: 0;
}
.article-back,
.product-cat {
  max-width: 75%;
  text-align: center;
  color: #000;
  font-weight: bold;
  line-height: 31px;
  margin: auto;
}
.articlr-header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}
.article-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}
.contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  bottom: -10px;
  width: 100%;
  padding: 10px 20px;
  margin-top: -25px;
}
@media(max-width: 424px) {
  .contact-info {
    flex-direction: column;
  }
}
.contact-left {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
.contact-img {
  width: 60px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 189, 100);
  flex-shrink: 0;
  cursor: pointer;
  border-radius: 15px;
  overflow: hidden;
}
.contact-img img {
  width: 100%;
  height: 100%;
}
.contact-right {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}
.share-link-button {
  margin-left: 10px;
  border: 1px solid rgb(230, 230, 230);
  border-radius: 50px;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 15px;
  height: 30px;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  padding: 0px 20px;
  transition: background-color 0.2s ease 0s;
}
.share-link-button span {
  font-size: 13px;
  margin-right: 5px;
}
.link {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 6px;
  left: 55px;
  color: rgb(77, 77, 77);
}
.fb {
  background-color: rgb(66, 103, 178);
}
.tw {
  background-color: rgb(27, 149, 224);
}
.share-link-button.fb span,
.share-link-button.tw span {
  color: #fff;
}
.white {
  color: #fff;
}
.contact {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contact-name {
  font-size: 24px;
  color: #000;
  margin-bottom: 15px;
  text-align: left;
  padding: 0px 20px;
}
.contact-phone {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(230, 230, 230);
  color: rgb(77, 77, 77);
  position: relative;
  padding: 0px 20px;
  padding-bottom: 20px;
}
.phone {
  position: absolute;
  width: 16px;
  height: 16px;
  color: rgb(77, 77, 77);
  top: 3px;
  left: 20px;
}
.contact-phone span {
  margin-left: 27px;
}
.article-body {
  padding-top: 12px;
  padding-bottom: 20px;
  line-height: 24px;
  border-bottom: 1px solid rgb(230, 230, 230);
}
.article-body p {
  padding: 0 20px;
}
.article-footer {
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 0 1 auto;
  justify-content: space-around;
}
.footer-block-comment {
  position: relative;
  display: flex;
  align-items: center;
}
.footer-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  color: rgb(77, 77, 77);
  top: 2px;
  left: 0;
}
.footer-block-comment span {
  color: rgb(77, 77, 77);
  font-size: 14px;
}
.footer-span {
  margin-left: 22px;
  margin-right: 5px;
}
.footer-column {
  width: 33.33%;
}
.footer-block {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 375px) {
  .footer-block-comment {
    display: flex;
    flex-direction: column;
  }
  .footer-block-comment span {
    font-size: 12px;
  }
    .footer-icon {
    margin-right: 10px;
  }
}
.footer-column:not(:last-child) {
  border-right: 1px solid rgb(230, 230, 230);
}


/* chat */
.chat {
  margin-top: 20px;
  display: flex;
}
.chat-avatar {
  width: 35px;
  height: 35px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 128, 178);
  cursor: pointer;
  border-radius: 30px;
  overflow: hidden;
}
.chat-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.chat-content {
  display: flex;
  flex-direction: column;
}
.chat-content-body {
  margin-left: 15px;
  background-color: rgb(242, 247, 250);
  line-height: 24px;
  padding: 11px 15px;
  border-radius: 10px;
}
.chat-name {
  margin-top: 0px;
  margin-bottom: 5px;
  color: rgb(153, 153, 153);
  cursor: pointer;
  font-weight: bold;
  color: rgb(0, 0, 0);
}
.chat-content-icons {
  display: flex;
  flex-direction: row;
  height: 18px;
  padding-left: 15px;
  margin-top: 3px;
}
.chat-icons-item {
  padding-left: 10px;
  cursor: pointer;
  position: relative;
  margin-right: 15px;
}
.chat-icon {
  position: absolute;
  display: inline-flex;
  width: 12px;
  height: 12px;
  top: 6px;
  left: 0;
  color: #000;
}
.chat-span {
  font-size: 13px;
  line-height: 20px;
  color: rgb(77, 77, 77);
  margin-left: 10px;
}
.chat-child {
  margin-top: 20px;
  margin-left: 50px;
}
.chat-like {
  margin-left: auto;
  margin-right: 0;
}
.chat-footer {
  padding: 10px;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(77,77,77,.2);
}
.input-footer {
  display: flex;
  align-items: center;
}
.input-group-btn {
  display: flex;
}
i.chat-footer-icon {
  font-size: 22px !important;
  color: rgb(77, 77, 77);
}
.btn-left {
  margin-left: auto;
}
.form-chat {
  border: none;
  color: rgb(77, 77, 77);
  font-size: 14px;
}
.form-chat:focus {
  outline: none;
}

/* product */
.product {
  display: flex;
  text-align: left;
}
.product-cat {
  margin: 0;
  margin-left: 30px;
}
.product-icon {
  width: 60px;
  height: 60px;
  border-radius: 25px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-desc {
  font-weight: 600;
}
.product-price {
  color: rgb(77, 77, 77);
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.chat-buttons {
  display: flex;
  width: 100%;
  max-width: 706px;
  overflow-x: auto;
  padding: 0px;
  padding-top: 20px;
}
.btn-chat-item {
  margin-right: 15px;
}
.btn-chat {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  color: #fff;
  background-color: red;
  border-radius: 70px;
  transition: background-color 0.2s ease 0s;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(230, 230, 230);
  padding: 0 15px;
  width: max-content;
}
.chat-mark {
  margin-top: 20px;
  background: #f3cdcd;
  width: max-content;
  margin-left: auto;
  border-radius: 10px 0 10px 10px;
}
.chat-mark .text {
  color: #000;
  margin-bottom: 5px;
}
.text.chat-time {
  margin: 0;
  color: #4d4d4d;
  font-size: 14px;
}
.chat-mark-red {
  color: red;
}
.chat-mark-red .la-check {
  font-size: 18px;
  font-weight: bold;
}
.chek-left {
  margin-left: -16px;
}

@media (max-width: 375px) {
  .chat-special {
    height: 30px;
    padding: 0px 8px;
  }
  i.chat-footer-icon {
    font-size:18px !important;
  }
  .form-chat {
    font-size: 11px;
  }
}


/* store */
.store-inner {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}
.store-title {
  margin: 10px 0;
  font-size: 22px;
  font-weight: 600;
  line-height: 20px;
  color: #4d4d4d;
  margin-bottom: 20px;
  padding: 0 10px;
  text-align: center;
}
.store-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.store-item {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 30%;
}
.store-link {
  box-shadow:5px 5px 19px rgba(0, 0, 0, 0.25);
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: start;
  justify-content: space-around;
  border: 2px solid transparent;
  padding: 2px;
}
.store-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 16px;
}
.sort {
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
}
.sort-item {
  position: relative;
}
.store-title i.icon-cat,
.sort-item a i {
  color: #4d4d4d;
  font-size: 22px;
}
.sort-item a i.la-active {
  color: rgb(246, 16, 85);
}
.sort-item a i.la-active:after {
  content: ".";
  position: absolute;
  top: 10px;
  width: 10px;
  height: 10px;
  color: rgb(246, 16, 85);
  left: 8px;
}
.store-item:first-child {
  padding-left: 0;
}
.store-item:last-child {
  padding-right: 0;
}

/* map */
#map {
  position: relative;
  margin-top: -15%;
}
.swiper-container {
  display: none;
}
.swiper-container.visible {
  display: flex !important;
}
.infobar {
  background: #fff;
  z-index: 9;
  box-shadow: 0 3px 6px rgba(0,0,0,.12), 0 3px 12px rgba(0,0,0,.25);
  padding: 15px;
  width: 85%;
  font-size: 12px;
  overflow: hidden;
  display: flex;
  margin-left: 10px;
}
.infobar-avatar {
  margin-right: 15px;
}
.infobar-header {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.infobar-title {
  margin-bottom: 0;
}
.infobar-text {
  color: rgb(153, 153, 153);
  font-size: 11px;
  line-height: 17px;
}
.body-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.body-marker {
  display: flex;
  align-items: center;
}
.body-marker span {
  margin-left: 5px;
}
.text-heading {
  font-size: 13px;
}
.avatar-block {
  width: 122px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
}
.map-avatar {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #fff;
}
.border-green {
  border: 3px solid #6ae29c;
}
.border-pink {
  border: 3px solid #fc7ea4;
}
.map-link-avatar:not(:first-child) {
  margin-left: -15px;
}
span.map-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -15px;
  background-color: #92a6fc;
}
.gm-ui-hover-effect {
  display: none !important;
}
.gm-style-iw,
.gm-style-iw div {
  overflow: visible !important;
}
.gm-style-iw div div {
  margin-left: -15px;
  margin-right: -37px;
  margin-top: -10px;
  margin-bottom: -10px;
}
.gm-style-iw {
  top: 75px !important;
  left: 85px !important;
}
.map-product {
  margin: 0!important;
}
.bg-pink {
  background-color: #fc7ea4 !important;
}
.bg-green {
  background-color: #6ae29c !important;
}
.stars img {
  margin-right: -3px;
  margin-bottom: 2px;
}

/* slider */
.swiper-size {
  max-width: 636px;
  margin: 0 auto;
}
.swiper-container {
  position: absolute;
  top: 65%;
  width: 100%;
  height: auto;
}
.swiper-wrapper {
  width: inherit;
}
.swiper-slide {
  width: 85% !important;
  height: max-content;
  display: flex;
}
.swiper-pagination-bullets {
  position: absolute;
  top: 36%;
}
@media (min-width: 426px) {
  .store-block {
    height: 150px;
  }
  .service-title {
    font-size: 20px;
  }
  .infobar {
    width: 300px;
  }
}
@media (max-width: 555px) {
  .swiper-slide {
    width: 65% !important;
  }
}
@media (max-width: 475px) {
  .swiper-slide {
    width: 75% !important;
  }
}
@media (max-width: 425px) {
  .store-block {
    height: 120px;
  }
}
@media (max-width: 375px) {
  .chat-special {
    height: 30px;
    padding: 0px 8px;
  }
  i.chat-footer-icon {
    font-size:18px !important;
  }
  .form-chat {
    font-size: 11px;
  }
  .store-block {
    height: 100px;
  }
}
@media (max-width: 320px) {
  .service-title {
    font-size: 12px;
  }
}
@media (min-height: 640px) {
  .swiper-container {
    top: 71%;
  }
}
@media (max-height: 670px) {
  #map {
    margin-top: -15px !important;
  }
}
