body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #000;
}
.container {
  display: flex;
  flex-flow: row wrap;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.icons.la {
  color: #fff;
  font-size: x-large;
  margin: 0;
}
i.la {
    font-size: xx-large;
}

.blue {
  background-color: #65cafc;
}
.violet {
  background-color: #e986fc;
}
.pink {
  background-color: #fc7ea4;
}
.blue1 {
  background-color: #92a6fc;
}
.has-shadow {
  box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);
}
.m-r {
  margin-right: 10px;
}
.bold {
  font-weight: 600;
}

/* header */

.header {
  position: relative;
}
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #40c9a2;
  padding: 0px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.header-logo {
  margin-right: 0;
  width: 50%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.search-container {
  margin: 15px auto;
  width: 25%;
  overflow: hidden;
}
.search-inner {
  width: 100%;
}

.search-form {
  width: 100%;
  position: relative;
}
svg {
  position: absolute;
  left: 15px;
  top: 9px;
  bottom: 7px;
  color: #fff;
  stroke-width: 4px;
}
.header-svg {
  z-index: 100;
}
input.search-input {
  width: 100%;
  border-radius: 20px;
  padding: 7px 15px 7px 60px;
  border: none;
  background-color: #40c9a2;
}
input.search-input-inner {
  width: 100%;
  border-radius: 20px;
  padding: 7px 15px 7px 60px;
  border: none;
  background-color: #fff;
  color: #999;
}
svg.search-green {
  color: #40c9a2;
  position: absolute;
  left: 15px;
  top: 9px;
  bottom: 7px;
  z-index: 100;
  stroke-width: 4px;
}

input[type="search"]::-webkit-input-placeholder {
  color: #fff;
}
input[type="search"]::-moz-placeholder {
  color: #fff;
}
.header-mail {
  width: 25%;
  text-align: end;
}


/* menu-header */
.header-menu {
  /*padding: 10px 20px 1px 20px; */
  background-color: #fff;
  position: relative;
  top: 70px;
  z-index: 10;
  height: auto;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 0px 20px;
  overflow-x: auto;
  overflow-y: hidden;
  margin-top: 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.menu-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  z-index: 1;
  border-bottom: 1px solid rgb(230, 230, 230);
  margin-left: -20px;
}
.menu-item {
  position: relative;
  cursor: pointer;
  white-space: nowrap;
  margin: 0px 20px;
}
.menu-item:first-child {
  margin-left: 0px;
}
.menu-link {
  position: relative;
/*  color: #c2c4ca;*/
  color: rgba(0,0,0,.6);
  font-size: 12px;
  font-family: 'Montserrat Regular', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.active a.menu-link {
  color: #6d6e71;
  font-weight: 600;
}
.active {
  position: relative;
}
.menu-link.active:after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: #13dba7;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom: 3px solid rgb(64, 201, 162);
  transition: border-bottom 0.25s ease 0s;
}
.menu-text {
  margin: 5px 0;
}
.count {
  background-color: #f7f6f6;
  color: rgba(0,0,0,.5);
  border-radius: 10px;
  padding: 4px 10px;
  margin-top: 5px;
  margin-bottom: 15px;
}

/* main */

main {
  position: relative;
  top: 70px;
  padding-bottom: 20px;
}

/* services */

.services {
  padding: 0px 20px;
}
.services-list {
  display: flex;
  overflow-x: auto;
  padding: 20px 16px 20px 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
/*.services-list:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 60px;
  z-index: 1;
  border-bottom: 1px solid rgb(230, 230, 230); 
  margin-left: -30px;
}*/
.services-link {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  align-items: start;
  justify-content: space-around;
  border: 2px solid transparent;
  padding: 2px;
  margin: -4px 18px -4px -4px;
}
.service-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100px;
  height: 111px;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 16px;
}

/* tabs */
.services-tabs {
  padding: 10px 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
/*.services-tabs:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0px;
  z-index: 1;
  border-bottom: 1px solid rgb(230, 230, 230); 
  margin-left: -30px;
}*/
.tabs-link {
  color: #999;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap;
}
.tabs-link.active {
  color: #2e3b4f;
}
.tabs-link.active:after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0px;
  background-color: #13dba7;
  width: 100%;
  height: 2px;
  z-index: 2;
  border-bottom: 3px solid rgb(64, 201, 162);
  transition: border-bottom 0.25s ease 0s;
}
.tabs-link:first-child {
  padding-right: 10px;
  border-right: 1px solid #e6e6e6;
}
.tabs-link-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
  min-width: 100px;
  cursor: pointer;
  color: #fff;
  background-color: #40c9a2;
  padding: 0px 10px;
  border-radius: 50px;
  transition: background-color 0.2s ease 0s;
  border: 1px solid #e6e6e6;
}

/* questions */
.questions {
  padding: 0 20px;
  margin: 20px auto;

}
.q-list {
  display: flex;
  flex-direction: column;
 /* padding: 20px 16px 20px 10px; */
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-radius: 15px;
}
.q-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: rgb(153, 153, 153);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  cursor: default;
  padding: 15px;
}
.title-avatar,
.avatars {
  width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 128, 178);
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 30px;
    overflow: hidden;
    margin-right: 10px;
}
.title-img {
  width: 35px;
  height: 35px;
}
.title-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.title-name a {
  font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    color: rgb(0, 0, 0);
}
.title-span {
  font-size: 13px;
    font-weight: normal;
    line-height: 16px;
    letter-spacing: normal;
    color: rgb(153, 153, 153);
    direction: ltr;
}
.q-body {
  display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    border-radius: 0px;
}
.body-text {
  display: flex;
    flex-direction: column;
    flex: 1 1 0%;
    padding: 0px 15px;
    margin: 10px 0;
   text-align: justify; 
}
.body-text__heading {
  margin: 10px 0;
  font-size: 22px;
  font-weight: bold;
  line-height: 20px;
}
.question-btn {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
}
.question-btn a {
  height: 24px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: rgb(73, 204, 204);
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 11px;
  line-height: 10px;
  font-weight: 700;
  cursor: pointer;
  white-space: nowrap;
  border-radius: 5px;
  padding: 0px 8px;
  transition: background-color 0.25s ease 0s;
}
.text {
  margin-bottom: 12px;
  margin-top: 10px;
  font-size: 16px;
  line-height: 24px;
  color: rgb(77, 77, 77);
}
.body-button {
  height: 60px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: rgb(247, 249, 250);
    padding: 0px 15px;
}
.btn-answer {
  height: 40px;
  box-shadow: none;
  min-width: 120px;
  padding: 0px 12px;
  position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    cursor: pointer;
    color: rgb(77, 77, 77);
    background-color: rgb(255, 255, 255);
    border-radius: 70px;
    transition: background-color 0.2s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(230, 230, 230);
    font-weight: 600;
}
.q-footer {
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 12px;
    padding: 0px 15px;
    border-radius: 15px;
}
.left {
  display: flex;
}
.q-responsed,
.q-share,
.q-comments {
  display: flex;
    cursor: pointer;
    align-items: center;
    height: 15px;
    color: rgb(77, 77, 77);
    font-size: 12px;
    line-height: 12px;
    transition: color 0.25s ease 0s;
}
.q-responsed span,
.q-share span {
 font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: normal;
    color: rgb(77, 77, 77);
    margin-left: 4px;
}
.comments-text {
 font-size: 12px;
    font-weight: normal;
    line-height: 15px;
    letter-spacing: normal;
    color: rgb(77, 77, 77);
    margin-left: 4px;

}
.btn-answer span {
  margin-left: 4px;
}

/* share */
.body-img img {
    height: 200px;
    width: 100%;
  }
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(0,0,0,.6);
}

.share-1 {
 display: inline-flex;
    flex-direction: column;
    padding: 0px 15px; 
}
.lists-heading {
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  text-align: left;
}
.1 span {
  text-align: left;
    font-size: 20px;
    line-height: 24px;
    color: rgb(0, 0, 0);
    font-weight: bold; 
}
.row-12 {
  display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(255, 255, 255);
    margin: 10px 0px;
   justify-content: space-between; 
}

.red {
  font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: normal;
    color: rgb(246, 16, 85);
    direction: ltr; 
}

.share-avatars {
  display: flex;
    justify-content: space-between;
    padding: 10px;
   background-color: rgb(247, 249, 250); 
   align-items: center;
}
.ava-text {
  font-size: 13px;
    line-height: 18px;
    color: rgb(153, 153, 153);
}

.avatars {
  width: 100%;
  max-width: 75px;
  background-color: rgb(247, 249, 250); 
}
.avatars .title-img {
  border-radius: 50%;
}


/* list */
.title-img-lg {
 display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 110px;
    height: 110px;
    margin-right: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 15px; 
    margin-left: 7px;
    margin-bottom: 5px;
}
.title-img-lg img {
  width: 100%;
  height: 100%;
}
.list-red {
   font-size: 14px;
    line-height: calc(100% + 10px); 
   color: rgb(246, 16, 85); 
}
.posts-footer {
     background-color: rgb(247, 249, 250); 
        border-radius: 0 0 15px 15px; 
}
.posts-list {
  display: flex;
    overflow-x: auto;
    padding: 20px 16px 20px 1px;
    width: 100%;
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;
}
.post-item .q-body,
.posts-footer .left .avatars {
  display: none;
}
.post-item .q-title {
  flex-direction: column;
}
.post-item {
 min-width: 220px;
    max-width: 220px; 
    margin-right: 15px;
}

/* video */
.q-video {
  max-height: 195px;
}
.video-cont {
  display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: rgb(0, 0, 0);
    max-height: 195px;
}
.video-content {
  height: 100%;
  width: 100%;
 max-height: 195px; 
}
.thanks {
  width: auto;
    height: 20px;
    margin-right: 8px;
}
.block-thanks {
 background-color: rgb(247, 249, 250); 
 border-radius: 0;
}

.title-events a {
  font-size: 18px;
    line-height: 26px;  
}
.events-bottom {
  display: flex;
  flex-direction: column;
}
.evnt {
  display: flex;
  align-items: center;
  height: 25px;
}
.evnt i.la {
  font-size: large;
  margin-right: 5px;
}
.event-buttons {
  display: flex;
}
.btn-event {
  border-radius: 8px;
  padding: 20px;
  margin-right: 5px;
  color: #fff;
  display: flex;
    justify-content: space-evenly;
}
.btn-red {
  background-color: #cb544a;
}
.btn-green {
  background-color: #73e6e6;
}

@media (max-width: 576px) {
  .event-mobile {
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
  }
  .event-buttons {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  .btn-event {
    margin-bottom: 10px;
  }
  .title-img-lg {
    width: 170px;
    height: 170px;
  }
}

.profile {
  position: relative;
    top: 0px;
    padding-top: 10px;
    border-bottom: none;
    background: rgb(247, 249, 250);
   background: url(../img/bg1.png) center center/cover no-repeat; 
   border-radius: 15px;

}
.profile-marg {
margin-top: 20px;}
.profile-card {
  padding: 10px 5px;
  margin-left: auto;
  margin-right: auto;
       background: url(../img/bg1.png) center center/cover no-repeat; 

}
.profile-content {
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    background: rgb(255, 255, 255);
    border-radius: 15px;
  /*  padding-top: 60px; */
          background: url(../img/bg1.png) center center/cover no-repeat;  
}
.profile-photo {
        position: relative;
    width: 150px;
    height: 150px;
    transform: translate3d(0px, 0px, 0px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
    box-sizing: border-box;
    transition: width 1s ease 0s, height 1s ease 0s;
    border-radius: 50%;
    background: rgb(230, 230, 230);
    border-width: 3px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-image: initial;
    margin: 0 auto;
    top: -25px;
    margin-top: 20px;
}
.profile-photo img {
  width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile-text {
  text-align: center;
  margin-top: 10px;
  padding: 0 15px;
}
.profile-title {
  font-size: 18px;
  line-height: 32px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 1px solid #e6e6e6;
}
.profile-link {
     color: #199fff;
}
.profile-bottom {
  display: flex;
    justify-content: center;
    align-items: center;
}
.profile-desc {
  margin: 10px auto;
  font-size: 16px;
 color: rgb(77, 77, 77); 
}
/*@media (max-width: 375px) {
  .profile-bottom {
      flex-direction: column;
  }
} */
.btn-profile {
    margin: 10px;
    height: 40px;
}
.btn-profile span {
  font-size: 12px;
  margin-left: 0;
}






/* footer */
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  background-color: #fff;
  z-index: 1000;
  box-shadow: 0 -10px 50px 0 rgba(0,0,0,0.05);
  padding: 20px;
/*  margin-top: 20px; */
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #cfd2d8;
}
/*
.footer-content:before {
  content: "";
  width: 100%;
  height: 20px;
  border-top: solid green 15px;
  border-radius: 0 35px 45px 0;
  position: absolute;
}*/
.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}
.footer-link {
  position: relative;
  display: flex;
    align-items: center;
    justify-content: center;
    color: #98a8b4;
}
/*.plus {
  position: absolute;
  top: -53px;
  width: 45px;
  color: #fff;
  background-image: linear-gradient(to bottom, #39c4eb 0%, #0a9ace 100%);
  height: 46px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}*/
.footer-link.active {
   color: #40c9a2;
}
.notif {
  position: absolute;
  right: -17px;
  top: -13px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  z-index: 100;
  background-color: rgb(246, 16, 85);
  font-weight: 600;
  border: 1px solid #fff;
  width: 22px;
  height: 22px;
}
.notif-footer {
  right: -5px;
  top: -4px;
}
.plus {
  height: 50px;
  width: 50px;
  border: 1px solid #40c9a2;
  background-color: #40c9a2;
  border-radius: 100% 0 100% 100%;
  transform: rotate(135deg);
}
.plus-bg {
  background: url(../img/img7.jpg) center center/cover no-repeat;
  position: absolute;
  width: 55px;
  height: 55px;
  border-radius: 50%;
      top: -25px;
    left: -15px;
}
/*.footer-content {
  border-radius: 50% 50% 0 0;
  border: 1px solid red;
}*/

.circle {

         height: 50px;
    width: 50px;
    position: relative;
    border-radius: 50%;
}
.tirs:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;

 background: red;
}
.svg2 {
  margin: 2rem;
  width: 200px;
  height: 200px;
  border: 1px solid #CCC;
 position: absolute;
    top: 80px;
    width: 47px;
    height: 50px; 
}
.svg {
       /*transform: rotate(180deg); */
      position: absolute;
    top: 80px;
    width: 47px;
    height: 50px;
}
#pattern {
  transform: rotate(180deg);
}
.ttt {
 transform: rotate(180deg);
    position: absolute;
    top: -17px; 
    left: 0;
}


/* inner page1 */
.inner {
  display: flex;
  flex-direction: column;
  padding: 20px 16px 20px 10px;
  width: 100%;
  max-width: 736px;
  margin-left: auto;
  margin-right: auto;
}
.invite {
  padding: 15px;
  background-color: #2e3a40;
  color: #fff;
  border-radius: 0;
}
.invite-block {
  margin: 10px auto;
}
.invite-header {
  display: flex;
  justify-content: space-evenly;
}
.invite-img {
  position: relative;
}
.invite-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.invite-title {
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0;
}
.invite-body,
.invite-bottom {
  text-align: center;
}
.invite-bottom {
  margin: 25px;
}
.invite-btn {
  background-color: #f8485d;
  padding: 20px 30px;
  border-radius: 50px;
}
.notif-invite {
  width: 30px;
  height: 20px;
  background-color: #fff;
  color: #999;
  position: absolute;
  right: -20px;
  top: 0px;
  border-radius: 23px 20px 20px 0px;
}
.center-img {
  top: -15px;
}

/* request */
.request {
  width: 100%;
  max-height: 500px;
  overflow: hidden;
  background: rgb(255, 255, 255);
  transition: max-height 1s ease-in-out 0s;
}
.heading {
  padding: 10px 0px;
  position: relative;
}
.heading h1 {
  padding: 0px 15px;
  font-size: 20px;
  line-height: 30px;
  color: rgb(77, 77, 77);
  font-weight: bold;
  margin: 0px;
}
.notif-request {
  left: 200px;
  top: 14px;
  z-index: 0 !important;
}
.request-list {
  display: flex;
  padding: 0px 15px;
  overflow-x: auto;
  padding-bottom: 30px;
  border-bottom: 1px solid rgb(230, 230, 230);
  padding-top: 15px;
  min-height: 260px;
  width: 100%;
}
.request-item {
  position: relative;
  margin-right: 20px;
  border-radius: 15px;
}
.request-link img {
  display: block;
  width: 180px;
  height: 216px;
  object-fit: cover;
  border-radius: 15px;
  position: relative;
}
.request-desc {
  position: absolute;
  left: 10px;
  bottom: 20%;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.item-title {
  margin-bottom: 6px;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.item-text {
  font-size: 13px;
  line-height: 17px;
}
.request-approving {
  display: flex;
  margin-top: 10px;
  padding: 0px 10px;
}
.no,
.yes {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-size: 16px;
  height: 36px;
  cursor: pointer;
  color: rgb(77, 77, 77);
  background-color: rgb(255, 255, 255);
  padding: 0px 10px;
  border-radius: 70px;
  transition: background-color 0.2s ease 0s;
  border: 1px solid rgb(230, 230, 230);
  margin-right: 6px;
  text-align: center;
  flex: 1 1 0%;
}
.no svg {
  display: inline-flex;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: rgb(248, 72, 93);
  margin: 0px;
}
.yes svg {
  display: inline-flex;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: rgb(64, 201, 162);
  margin: 0px;
}
.center-svg {
  position: absolute;
  left: 40%;
  right: 40%;
}

/* discover */
.discover {
  padding: 15px 0;
}
.discover-body {
  padding: 15px;
  min-height: 260px;
  width: 100%;
  background: rgb(247, 249, 250);
}
.discover-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.discover-item {
  width: 100%;
  margin: 0px 0px 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 10px 0px;
  border-radius: 15px;
  padding: 15px;
}
@media (min-width: 576px) {
  .discover-item {
    width: calc(50% - 15px);
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
.discover-link {
  width: 100px;
  height: 120px;
  margin-right: 15px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  text-decoration: none;
  transition: color 0.4s ease 0s;
}
.discover-link img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}
.discover-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0%;
}
.discover-name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(0, 0, 0);
  margin-bottom: 6px;
}
.discover-district {
  font-size: 13px;
  line-height: 15px;
  color: rgb(246, 16, 85);
  margin-bottom: 4px;
}
.discover-time {
  font-size: 13px;
  line-height: 15px;
  color: rgb(153, 153, 153);
  margin-bottom: 8px;
}
.discover-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px dotted rgba(153,153,153,.5);
  padding-top: 8px;
}
.discover-friend {
  color: rgb(153, 153, 153);
  font-size: 13px;
  line-height: 17px;
}
.add button {
  font-size: 15px;
}
